.btn {
  display: inline-block;
  min-width: 497px;
  padding: 30px 36px 31px 48px;
  font-family: $font;
  text-align: center;
  font-size: 42px;
  line-height: 57px;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  background-color: $color-accent;
  cursor: pointer;



}
