.catalog {
  padding: 130px 0;
  text-align: center;
}

.catalog-inner {
  @include inner;

}

.catalog-title {
  margin-bottom: 97px;
  color: $color-dark;
  font-family: $font;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  font-weight: 400;

  @media (max-width: $tablet-max) {
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 49px;

  }


}

.catalog-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 120px;


  @media (max-width: $tablet-max) {
    margin-bottom: 80px;
    row-gap: 20px;

  }

  @media (max-width: $mobile-max) {
    display: block;


  }
}

.catalog-item {
  flex-basis: calc(25% - 15px);


  @media (max-width: $tablet-max) {
    flex-basis: calc(50% - 10px);

  }

  @media (max-width: $mobile-max) {
    margin-top: 20px;


  }


}

.catalog-card {
  position: relative;
  display: block;

}



figcaption {
  bottom: 0;
  width: 100%;
  padding: 15px;
  position: absolute;
  color: $color-light;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.40);

  @media (max-width: $tablet-max) {}

  @media (max-width: $mobile-max) {}

}
