.faq {
  padding: 130px 0;
}

.faq-inner {
  @include inner;
}

.faq-title {
  font-family:$font;
  font-size: 64px;
  line-height: 87px;
  font-weight: 400;
  color: $color-dark;
  margin-bottom: 77px;
  text-align: center;
}

.accordion-btn {
  padding: 25px;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  border: 1px solid rgba(255, 45, 45, .2);
  background-color: #FFF;
  font-family: $font;
  color: #152B3C;
  font-size: 36px;
  line-height: 49px;
  font-weight: 300;
}

p {
  font-family: $font;
  color: #000;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
}


.accordion-tab {

}

.accordion-info {
  // display: none;
}
