.filter {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;

}

.filter-item a {
  font-family: $font;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.80);
  text-decoration: none;
  text-transform: uppercase;
}
