.header-inner {
 @include inner;

}

.header {
padding: 16px 0;
background-color: $color-dark;
background-image: url(/www/images/promo.jpg);

}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
@include logo;

}
