.header-inner {
 @include inner;

}

.header {
position: fixed;
top: 0;
left: 0;
z-index: 1000;
width: 100%;
padding: 16px 0;
background-color: $color-dark;
background-image: url(/www/images/promo.jpg);

}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
@include logo;

}
