.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: $color-dark;


  @media (max-width: $mobile-max) {
    padding: 16px 0;
  }
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  @include logo;

}

.header-burger {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
    width: 30px;
    height: 30px;
  }
}
