.menu {

ul {
  display: flex;
  gap: 10px;
  list-style: none;

}
a {
  color: $color-light;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

}
