.promo {
  padding: 200px 0;
  background-image: url(/images/promo.jpg);
  background-color: rgba(51, 51, 51, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;




}


.promo-inner {
  @include inner;
  text-align: center;

}

.promo-title {
  margin-bottom: 100px;
  color: $color-light;
  font-size: 72px;
  line-height: 98px;
  font-weight: 600;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;

  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;

  }


}
