.social {
  display: flex;
  gap: 15px;
  list-style: none;

  @media (max-width: $mobile-max) {
    margin-top: 15px;

  }
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
