@mixin inner {
  max-width: 1276px;
  margin: 0 auto;
  border: 1px solid red;

  @media (max-width: $tablet-max) {
    padding-left: 10px;
    padding-right: 10px;

  }
}

@mixin logo {
  margin-right: auto;
  font-size: 42px;
  line-height: 57px;
  font-weight: 600;
  color: $color-light;
  font-family: $font;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    margin-right: 0;
    padding: 16px;
    font-size: 36px;
    line-height: 49px;
  }
}
