@mixin inner {
  width: 1276px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin logo {
  margin-right: auto;
  font-size: 42px;
  line-height: 57px;
  font-weight: 600;
  color: $color-light;
  font-family: $font;
  text-decoration: none;
}
